/* Style cho toàn bộ trang */
body {
  font-family: Arial, sans-serif;
  background-color: #e0eafc;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Định dạng cho phần container */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Định dạng cho logo */
.logo {
  width: 100px; /* Kích thước logo */
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Định dạng cho tiêu đề */
h1 {
  text-align: center;
  color: #1a3b5d;
}

/* Định dạng cho các nhãn và trường nhập liệu */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 60%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

/* Định dạng cho nút bấm */
button {
  display: block;
  text-align: center;
  margin: auto;
  padding: 10px;
  background-color: #6eaadb;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #266ca5;
}

/* Định dạng cho bảng kết quả */
.results {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
  margin: 20px auto;
}

.results th,
.results td {
  border: 1px solid #ccc;
  padding: 10px; */
}

.results th {
  background-color: rgb(66, 118, 196);
  color: white;
  }

.results tr:nth-child(even) {
  background-color: #f9f9f9;
}

.results tr:nth-child(odd) {
  background-color: #ffffff;
}
